.frens-red {
  color: #e2201e;
}
.frens-grey {
  color: #2e2e2e;
}
.frens-black {
  color: #1a1a1a;
}
.frens-white {
  color: #ffffff;
}

.Button_buttonVariants_size_lg__x1s81q4 {
  // border-radius: var(--dapp-kit-radii-large);
  padding: 12px !important;
}